@import url("https://styleguide.variant.no/_next/static/css/5feffe362c34ea575951.css");

@font-face {
  font-family: "Britti";
  src: url(/assets/britti.woff2);
}

* {
  font-family: "Britti", sans-serif !important;
}

:root {
  --font-size-min: 10;
  --font-size-max: 20;
  --viewport-min: 300;
  --viewport-max: 1200;

  --type-scale: 1.2;

  --type-scale-0: calc(var(--type-scale) * 1rem);
  --type-scale-1: calc(var(--type-scale) * var(--type-scale-0));
  --type-scale-2: calc(var(--type-scale) * var(--type-scale-1));
  --type-scale-3: calc(var(--type-scale) * var(--type-scale-2));
  --type-scale-4: calc(var(--type-scale) * var(--type-scale-3));
  --type-scale-5: calc(var(--type-scale) * var(--type-scale-4));
}

html {
  font-family: "Britti", sans-serif;
  font-size: calc(
    (var(--font-size-min) * 1px) + (var(--font-size-max) - var(--font-size-min)) *
      (
        (100vw - (var(--viewport-min) * 1px)) /
          (var(--viewport-max) - var(--viewport-min))
      )
  );
  font-size: 16px;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  letter-spacing: -0.015em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary4__tint4);
}
.card {
  height: 504px; /* Height of SVG */
  width: 360px; /* Width of SVG */
  font-size: 1rem;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 1s 0.3s;
  cursor: pointer;
  color: #111111;
}

.page {
  width: 100%;
  height: 100%;
  perspective: 1500px;
}
.page__first {
  background-image: url(../assets/front.svg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s 0.3s;
  transform-origin: 0 50%;
  z-index: 2;
}
.page__first::after {
  content: "";
  background-image: url(../assets/inside-left.svg);
  position: absolute;
  padding: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transform: rotateY(180deg);
  transition: all 0.3s 0.5s;
}
.page__second {
  background-image: url(../assets/inside-right.svg);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 3rem;

  display: flex;
  flex-direction: column;
}

.card__open .page__first {
  transform: rotateY(-180deg);
  box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
}
.card__open .page__first::after {
  opacity: 1;
}

.card__sneakpeek .page__first {
  transform: rotateY(-30deg);
}

.to {
  font-weight: 500;
  font-size: 1.625rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.from {
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 600px) {
  .card__open {
    transform: translateX(50%);
  }
}
